<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"
              type="text/css"
              href="../../public/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Muli|Source+Sans+Pro|Work+Sans&display=swap"
              rel="stylesheet">
        <title>A.L.F.R.E.D.</title>
    </head>

    <body>
        <div class="wrapper">
            <div class="header">
                <h1>Create Link</h1>
            </div>
            <br>
            <div class="container">
                <div class="create-link-form">
                    <form method="POST" action="/linkresult">
                        <input placeholder=" filename (Banana.HDTV.2CH.x265.HEVC-PSA)" type="text" name="filename" class="input"/><br><br>
                        <button id="submit-button" type="submit" value="Create" >Create</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
