<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"
              type="text/css"
              href="../../public/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Muli|Source+Sans+Pro|Work+Sans&display=swap"
              rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
              rel="stylesheet">
        <link rel='shortcut icon' type='image/png' href='https://www.cmcrossroads.com/sites/default/files/article/2016/Jenkins.sh-600x600.png' />
        <title>A.L.F.R.E.D.</title>
    </head>

    <body>
        <div class="wrapper">
            <div class="header">
                <div class="title-box">
                    Create link
                </div>
                <div class="home-box">
                    <a href="/" class="home-button"><i class="fa fa-home"></i></a>
                </div>
            </div>
            <br>
            <div class="container">
                <div class="create-link-form">
                    <form method="POST" action="/linkresult">
                        <input placeholder=" filename (Banana.HDTV.2CH.x265.HEVC-PSA)" type="text" name="filename" class="input"/><br><br>
                        <button id="submit-button" type="submit" value="Create" >Create</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
