<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"
          type="text/css"
          href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Muli|Source+Sans+Pro|Work+Sans&display=swap"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet">
    <title>A.L.F.R.E.D.</title>
</head>

<body>
<div class="wrapper">
    <div class="header">
        <div class="title-box">
            <abbr title="Artificialy Legal and Fun Robot for Easy Downloads">A.L.F.R.E.D.</abbr>
        </div>
        <div class="home-box">
            <a href="/" class="home-button"><i class="fa fa-home"></i></a>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="home-options">
            <div class="home-option">
                <div class="home-option-desc">
                    Fetch full list of episodes
                </div>
                <div class="home-link">
                    <a href="/full">
                        full
                    </a>
                </div>
            </div><br>
            <div class="home-option">
                <div class="home-option-desc">
                    Fetch new episodes
                </div>
                <div class="home-link">
                    <a href="/refresh">
                        refresh
                    </a>
                </div>
            </div><br>
            <div class="home-option">
                <div class="home-option-desc">
                    Fetch recent episodes
                </div>
                <div class="home-link">
                    <a href="/recent">
                        recent
                    </a>
                </div>
            </div><br>
            <div class="home-option">
                <div class="home-option-desc">
                    List all TV Shows
                </div>
                <div class="home-link">
                    <a href="/list">
                        list
                    </a>
                </div>
            </div><br>
            <div class="home-option">
                <div class="home-option-desc">
                    Create link
                </div>
                <div class="home-link">
                    <a href="/link">
                        link
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
