<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"
              type="text/css"
              href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Muli|Source+Sans+Pro|Work+Sans&display=swap"
              rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
              rel="stylesheet">
        <title>A.L.F.R.E.D.</title>
    </head>

    <body>
        <div class="wrapper">
            <div class="header">
                <div class="title-box">
                    Available Episodes
                </div>
                <div class="home-box">
                    <a href="/" class="home-button"><i class="fa fa-home"></i></a>
                </div>
            </div>
            <br>
            <div class="container">
                <% seriesInfo.forEach((serieInfo) => { %>
                    <div class="tv-show">
                        <h2><%= serieInfo.tittle %></h2>
                        <% if(Array.isArray(serieInfo[urlListKey]) && serieInfo[urlListKey].length) { %>
                            <% serieInfo[urlListKey].forEach((ep) => { %>
                                <div class="episode">
                                    <a href=<%= ep.url %>>
                                        <%= ep.url %>
                                    </a>
                                </div><br>
                            <% }); %>
                        <% } else { %>
                            <div class="episode">
                                Não há episódios diponíveis
                            </div><br>
                        <% } %>
                    </div><br>
                <% }); %>
            </div>
        </div>
    </body>
</html>