<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"
              type="text/css"
              href="../../public/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Muli|Source+Sans+Pro|Work+Sans&display=swap"
              rel="stylesheet">
        <title>A.L.F.R.E.D.</title>
    </head>

    <body>
        <div class="wrapper">
            <div class="header">
                <h1>Episodios disponiveis</h1>
            </div>
            <br>
            <div class="container">
                <div class="tv-show">
                    <h2>The Flash</h2>
                    <div class="episode">
                        <a href="https://get-to.link/the-flash.2014.s06e03.dead.man.running.720p.webrip.2ch.x265">
                            https://get-to.link/the-flash.2014.s06e03.dead.man.running.720p.webrip.2ch.x265
                        </a>
                    </div><br>
                    <div class="episode">
                        <a href="https://get-to.link/the-flash.2014.s06e03.dead.man.running.720p.webrip.2ch.x265">
                            https://get-to.link/the-flash.2014.s06e03.dead.man.running.720p.webrip.2ch.x265
                        </a>
                    </div><br>
                </div><br>
                <div class="tv-show">
                    <h2>Arrow</h2>
                    <div class="episode">
                        <a href="https://get-to.link/the-flash.2014.s06e03.dead.man.running.720p.webrip.2ch.x265">
                            https://get-to.link/the-flash.2014.s06e03.dead.man.running.720p.webrip.2ch.x265
                        </a>
                    </div><br>
                    <div class="episode">
                        <a href="https://get-to.link/the-flash.2014.s06e03.dead.man.running.720p.webrip.2ch.x265">
                            https://get-to.link/the-flash.2014.s06e03.dead.man.running.720p.webrip.2ch.x265
                        </a>
                    </div><br>
                </div><br>
                <div class="tv-show">
                    <h2>Star Trek: Picard</h2>
                    <div class="episode">
                        <a href="https://get-to.link/the-flash.2014.s06e03.dead.man.running.720p.webrip.2ch.x265">
                            https://get-to.link/the-flash.2014.s06e03.dead.man.running.720p.webrip.2ch.x265
                        </a>
                    </div><br>
                    <div class="episode">
                        <a href="https://get-to.link/the-flash.2014.s06e03.dead.man.running.720p.webrip.2ch.x265">
                            https://get-to.link/the-flash.2014.s06e03.dead.man.running.720p.webrip.2ch.x265
                        </a>
                    </div><br>
                </div><br>
                <div class="tv-show">
                    <h2>Project Blue Book</h2>
                    <div class="episode">
                        <a href="https://get-to.link/the-flash.2014.s06e03.dead.man.running.720p.webrip.2ch.x265">
                            https://get-to.link/the-flash.2014.s06e03.dead.man.running.720p.webrip.2ch.x265
                        </a>
                    </div><br>
                    <div class="episode">
                        <a href="https://get-to.link/the-flash.2014.s06e03.dead.man.running.720p.webrip.2ch.x265">
                            https://get-to.link/the-flash.2014.s06e03.dead.man.running.720p.webrip.2ch.x265
                        </a>
                    </div><br>
                </div><br>
                <div class="tv-show">
                    <h2>Rick and Morty</h2>
                    <div class="episode">
                        <a href="https://get-to.link/the-flash.2014.s06e03.dead.man.running.720p.webrip.2ch.x265">
                            https://get-to.link/the-flash.2014.s06e03.dead.man.running.720p.webrip.2ch.x265
                        </a>
                    </div><br>
                    <div class="episode">
                        <a href="https://get-to.link/the-flash.2014.s06e03.dead.man.running.720p.webrip.2ch.x265">
                            https://get-to.link/the-flash.2014.s06e03.dead.man.running.720p.webrip.2ch.x265
                        </a>
                    </div><br>
                </div><br>
            </div>
        </div>
    </body>
</html>
