<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"
              type="text/css"
              href="../../public/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Muli|Source+Sans+Pro|Work+Sans&display=swap"
              rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
              rel="stylesheet">
        <link rel='shortcut icon' type='image/png' href='https://www.cmcrossroads.com/sites/default/files/article/2016/Jenkins.sh-600x600.png' />
        <title>A.L.F.R.E.D.</title>
    </head>

    <body>
        <div class="wrapper">
            <div class="header">
                <div class="title-box">
                    Available episodes
                </div>
                <div class="home-box">
                    <a href="/" class="home-button">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
            </div>
            <br>
            <div class="container">
                <div class="tv-show">
                    <h2>The Flash</h2>
                    <div class="episode">
                        <div class="episode-name">
                            https://get-to.link/rick-and.morty.s04e01.edge.of.tomorty.rick.die.rickpeat.1080p.webrip.6ch.x265
                        </div>
                        <div class="episode-button">
                            <a href="https://get-to.link/the-flash.2014.s06e03.dead.man.running.720p.webrip.2ch.x265">
                                <i class="fa fa-download"></i>
                            </a>
                        </div>
                        <div class="episode-button">
                            <a href="/delete/flash/S06E03">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>

                    </div><br>
                </div><br>
                <div class="tv-show">
                    <h2>Arrow</h2>
                    <div class="episode">
                        <div class="episode-name">
                            https://get-to.link/the-flash.2014.s06e05.720p.hdtv.2ch.x265
                        </div>
                        <div class="episode-button">
                            <a href="https://get-to.link/the-flash.2014.s06e03.dead.man.running.720p.webrip.2ch.x265">
                                <i class="fa fa-download"></i>
                            </a>
                        </div>
                        <div class="episode-button">
                            <a href="/delete/flash/S06E03">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>

                    </div><br>
                    <div class="episode">
                        <div class="episode-name">
                            https://get-to.link/project-blue.book.s02e03.area.51.720p.webrip.2ch.x265
                        </div>
                        <div class="episode-button">
                            <a href="https://get-to.link/the-flash.2014.s06e03.dead.man.running.720p.webrip.2ch.x265">
                                <i class="fa fa-download"></i>
                            </a>
                        </div>
                        <div class="episode-button">
                            <a href="/delete/flash/S06E03">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>

                    </div><br>
                </div><br>
            </div>
        </div>
    </body>
</html>
